<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Spring Clima</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title" align="center">Previsão do Tempo</h1>
		</div>
		
			<table class="table">
				<thead>
					<tr>
						<th>Data</th>
						<th>Dia da Semana</th>
						<th>Cidade</th>
						<th>Temperatura Mínima</th>
						<th>Temperatura Máxima</th>
						<th>Umidade</th>
						<th>Descrição</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="clima : ${clima}">
						<td th:text="${clima.data}"></td>
						<td th:text="${clima.semana.semana}"></td>
						<td th:text="${clima.cidade.nome}"></td>
						<td th:text="${clima.minima + '°C'}"></td>
						<td th:text="${clima.maxima + '°C'}"></td>
						<td th:text="${clima.umidade}"></td>
						<td th:text="${clima.descricao}"></td>
						<td th:text="${clima.cidade.latitude}"></td>
						<td th:text="${clima.cidade.longitude}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	
</body>
</html>